version: "3.8"

services:
  api:
    build:
      context: ..
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env

  bot:
    build:
      context: ..
      dockerfile: docker/bot.Dockerfile
    env_file:
      - .env

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: autodonor
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
